*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(4,29,29);
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg,#153677,#4e085f);
}
.todo-list{
    width: 100%;
    height: 540px;
    background: hsl(250, 50%, 79%);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
h1{
    color: #f60fcf;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edeefe;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}
button{
    background-color: rgb(25, 6, 56);
    color: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 50px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck-img.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    color: black;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}